.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 6rem;
    font-family: monospace;
    user-select: none;

    margin-top: 10%;
    margin-bottom: 10%;
}

.scramble-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    width: 100vw;
    height: 10vh;
    background-color: white;
    color: #242424;
}

.solves-container {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;

    .solve {
        margin: 0 1rem;
    }

    width: 100vw;
    height: 10vh;
    color: #ffffff;
}

.congrats {
    margin: 10%;
    font-size: 3rem;
    font-family: monospace;
    color: #ffffff;
}